@CHARSET "ISO-8859-1";
.mdl-button--icon{
	font-size: 18px !important;
}
body{
	background-color:#EBEBEB !important;
}
.m-t-15{
	margin-top:15px;
}
.m-t-40{
	margin-top:40px;
}
.m-t-65{
	margin-top:65px;
}
.select2-container{
	width:100% !important;
}
.md-form{
	width:234px;
	margin-top:20px !important;
}
.dnone{
	display:none;
}
.input-set{
	font-weight: 700 !important;
    color: #757575 !important;
}
.fa{
	padding:0px !important;
}

.iconTableCenter {
	font-size: 25px !important;
	padding-left: 10px !important;
    margin-top: 6px;
}